<div class="row">
  <div class=" container col-md-3 mb-5" *ngFor="let movie of movies">
    <img [src]=" movie.poster_path | poster" class="rounded-4 img-fluid cursor" (click)="onMovieClick(movie)"/>
    <div >
      <!-- <h3 class="mt-2">{{ movie.title }}</h3> !-->
           <ngb-rating  [max]="1" [rate]="movie.vote_average" class="calification rectangle">
          </ngb-rating>
        <div class=" text-white numberC">
          {{ movie.vote_average | number:'1.1-2' }}
        </div>
      
    </div>
  </div>
</div>
